<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div>
        <h2>로그인</h2>
        <form action="/user/login" method="post">
            로그인 : <input type="text" name="id">
            비밀번호 : <input type="password" name="pw">
            <input type="submit" value="login">
        </form>
    </div>

    <div>
        <h2>회원가입</h2>
        <form action="/user/join" method="post">
            아이디: <input type="text" name="user_id" required><br>
            비밀번호: <input type="password" name="user_pw" required><br>
            이름: <input type="text" name="user_name" required><br>
            이메일: <input type="email" name="user_email"><br>
            전화번호: <input type="tel" name="user_phone"><br>
            차량 정보: <input type="text" name="user_car_info"><br>
            역할:
            <select name="user_role">
                <option value="USER">USER</option>
                <option value="ADMIN">ADMIN</option>
            </select><br>
            <input type="submit" value="회원가입">
        </form>
    </div>



</body>

</html>